ni*.png filter=lfs diff=lfs merge=lfs -text
*.abc filter=lfs diff=lfs merge=lfs -text
Binaries/** filter=lfs diff=lfs merge=lfs -text
Binaries/Win64/** filter=lfs diff=lfs merge=lfs -text
Content/Megascans/** filter=lfs diff=lfs merge=lfs -text
Content/CosmicLab/Events/Ayu25th/** filter=lfs diff=lfs merge=lfs -text
Content/ClifflandsDESERT_SON/** filter=lfs diff=lfs merge=lfs -text
Content/Desert_Rocks_and_Cliffs/** filter=lfs diff=lfs merge=lfs -text
Content/UltraDynamicSky/** filter=lfs diff=lfs merge=lfs -text
Content/CosmicLab/Events/Ayu25th_2nd/M0-M1/Maps/** filter=lfs diff=lfs merge=lfs -text